html{
    font-family: Times New Roman;
}

body{
    background-color: ghostwhite;
    border: 5px solid black;
    margin: auto;

}

label{
    padding: 5px 14px 4px 15px;
}

div{
    padding: 10px;
}

header{
    border-bottom: 5px solid black;
    background-image: linear-gradient(45deg, white 5%, darkorange 100% ,orange 88%);
    background-image: -webkit-linear-gradient(45deg, white 5%, darkorange 100% ,orange 88%);
    background-image: -moz-linear-gradient(45deg, white 5%, darkorange 100% ,orange 88%);
    background-image:-o-linear-gradient(45deg, white 5%, darkorange 100% ,orange 88%);
    padding-top: 4px;
}

h1{
    padding: 10px 10px 10px 10px;
    text-align: left;
}

header img{
    float: left;
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
}

#a{
    float:center;
}

p img{
    display: block;
    margin: auto;
    width:30%;
    float:right;
    padding-left: 10px; 
}

 p{ 
     margin-top: 5px;
     margin: 20px; 
     font-siZe: 18px;
}

main{
    clear: left;
    padding: 13px;
}

section h2{
    font-size: 150%;  
    padding-left: 20px;  
}

h6{
    font-size:150%;
    text-align: center;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    background-image: linear-gradient(45deg, white 0%, darkorange 88% , white 100%);
    background-image: -webkit-linear-gradient(45deg, white 0%, darkorange 88% , white 100%);
    background-image: -moz-linear-gradient(45deg, white 0%, darkorange 88% , white 100%);
    background-image:-o-linear-gradient(45deg, white 0%, darkorange 88% , white 100%);
    text-align: center;
    margin-left: 20px;
    margin-bottom: 20px;
}

section h3{
     font-size: 125%; 
     padding-left: 20px;
}

h4{
    text-align: center;
    font-size: 150%;
}

a:{ 
    font-weight: bold;
        color:orange;
}

a:link, a:visited{
    color: orange; font-weight: bold;
} 

a:hover, a:focus{
    color: green;
}

aside{
        display:block;
        float: left;
        right: 30px;
        padding-left: 25px;
        padding-right: 30px;
        padding-top: 19px;
        height: 600px; 
}

aside li{
    font-size: 20px;  
}

footer{
    text-align: right;
    font-size: 95%;
    border-top: 3px solid black;
    padding-bottom: 4px;
    margin:0;
    clear: both;
    background-image: linear-gradient(45deg, white 5%, darkorange 100% ,orange 88%);
    background-image: -webkit-linear-gradient(45deg, white 5%, darkorange 100% ,orange 88%);
    background-image: -moz-linear-gradient(45deg, white 5%, darkorange 100% ,orange 88%);
    background-image:-o-linear-gradient(45deg, white 5%, darkorange 100% ,orange 88%);
}

#nav_menu ul{
    list-style-type:none;
    margin: 0px;
    padding:0px; 
}

#nav_menu ul li{
    float: left;
    width: 20%;
    margin: auto;
}

#nav_menu ul ul{
    display: none;
    position: absolute; 
}

#nav_menu ul ul li{
    float: center;
}

#nav_menu ul li:hover > ul {
    display: block;
}

#nav_menu > ul::after{
    content: " ";
    display:block;
    clear:both;
}

#nav_menu a.active{
    color:orange;
}

#nav_menu ul li a:hover{
    background-color: gray;
}

#nav_menu ul li a{
    display: block;
    
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 10px 20px 10px 20px;
    background-color: black;
}

#nav_list {
	float: left;
	padding: 0;	
}

#nav_list ul {
	list-style-type: none;
}

#nav_list ul li {
	margin-bottom: 3px;
	border: 3px solid black;
	background-image: linear-gradient(45deg, white 0%, darkorange 88% , black 100%);
    background-image: -webkit-linear-gradient(45deg, white 0%, darkorange 88% , black 100%);
    background-image: -moz-linear-gradient(45deg, white 0%, darkorange 88% , black 100%);
    background-image:-o-linear-gradient(45deg, white 0%, darkorange 88% , black 100%);
}

#nav_list ul li a {
	display: block;
	padding: 4px 15px 8px 8px;
	text-decoration: none;
	font-weight: bold;
	color: black;
    text-align: center;
}

h5{
    font-size: 120%;
    padding: 6px 6px 5px 5px;
    
}

label {
    color: blue;
    float: left;
    width: 8em;
    font-weight: bold;
    text-align: left;
}
		
input {
    width: 15em;
    margin: 0 0 .5em 1em;
}

#button, #reset {
    width: 7em;
    background-color: silver;
    box-shadow: 2px 2px 0 blue;
}

#button {
    margin-left: 9em;
}
input[type="checkbox"]{
    width: 13px;
}
 
